.container {
  max-width: 100%vp;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

/* ====== tablet ====== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* ====== tablet ====== */

/* ======= desktop ====== */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ======= desktop ====== */

/* @media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
} */
/* .container {
  max-width: 100%vp;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
} */
