.page-header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.main-container {
  display: flex;
  align-items: center;
  height: 72px;
}

.main-logotype {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}
.main-logotype-part-two {
  color: var(--navyblue);
}

.nav-page {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.nav-page-link {
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  margin-bottom: 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.class-after {
  color: #404bbf;
  text-decoration: none;
  padding: 24px 0;
  margin-bottom: 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* .nav-page-link:hover,
.nav-page-link:focus {
} */
.class-after::after {
  content: "";
  width: 100%;
  height: 4px;
  border: 1px solid var(--ocean);
  border-radius: 2px;
  background-color: #404bbf;
  /* background-color: var(--ocean); */
  display: block;
  margin-top: 20px;
  position: absolute;
  content: 100%;
  left: 0;
  bottom: -1px;
}

.link:active {
  color: var(--ocean);
}
.address-contacts {
  font-style: normal;
  display: flex;
  padding-left: 332px;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-list-link {
  color: var(--slate);
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
