.hero-container {
  width: 1440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.hero-section {
  background-color: var(--navyblue);
  padding: 188px 0;
  height: 600px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-size: cover;
}
.hero-section-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.button-order {
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  margin-right: auto;
  margin-left: auto;
  width: 169px;
  height: 56px;
  border: 0;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--ocean);
}
/* <!============= HERO SECTION (1 section) ==============> */

/* <!============= SKILLS SECTION (2 section) ================> */

.skill-section {
  padding: 120px 0;
}
.skill-section-container {
  margin-left: auto;
  margin-right: auto;
}
.skill-section-list {
  display: flex;
  gap: 24px;
}
.skill-section-item-image-container {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.skill-section-item {
  width: calc((100% - 72px) / 4);
}
.skill-section-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.skill-section-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* * <!============= SKILLS SECTION (2 section) ================> */

/* =============OUR TEAM SECTION (3 section)============ */

.team-section {
  padding: 120px 0;
  background-color: var(--cloud);
}
.team-section-container {
  display: flex;
  flex-direction: column;
}
.team-section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-section-list {
  display: flex;
  padding-top: 72px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.team-section-list-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.card-content-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-link-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--iris);
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-list-item:hover,
.social-link-list-item:focus {
  background-color: #404bbf;
}
.card-content-list-item-icon {
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-section-list-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-section-position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
}

/* =============OUR TEAM SECTION (3 section)============ */

/* ============= Portfolio Section (4 section)==============> */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.porfolio-card {
  background-color: var(--white);
  /* padding-top: 120px;
  padding-bottom: 120px; */
  width: 360px;
}
.porfolio-card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.porfolio-section-container {
  display: flex;
  flex-direction: column;
}

.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-section-title {
  color: var(--slate);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-section-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-section-list-item {
  display: flex;
  height: 420px;
  width: 360px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.porfolio-section-container {
  display: flex;
  flex-direction: column;
}

.porfolio-section-list-payment-container {
  width: 360px;
  height: 300px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.porfolio-section-list-payment-text-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-section-list-payment-container:hover
  .porfolio-section-list-payment-text-popup,
.porfolio-section-list-payment-container:focus
  .porfolio-section-list-payment-text-popup {
  transform: translateY(0%);
}
.portfolio-section-list-services {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
