.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  max-height: 623px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
.close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover > .close-btn-icon,
.close-btn:focus > .close-btn-icon {
  fill: #ffffff;
}
.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-window-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-window-conteiner-comment-lable {
  margin-bottom: 8px;
}
.modal-window-label:focus-within {
  fill: #4d5ae5;
}
.modal-window-label {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.input-user-name {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.input-user-name:focus {
  border-color: #4d5ae5;
}
.input-user-name:focus + .icon-modal {
  fill: #4d5ae5;
}
.container-input {
  position: relative;
}
.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea-comment {
  display: block;
  width: 255px;
  height: 120px;
  margin-top: 4px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}

.modal-window-conteiner-comment-lable > .modal-textarea-comment:focus {
  outline: transparent;
  border-color: #4d5ae5;
}

.modal-textarea-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-conteiner {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  /* margin-bottom: 24px; */
}
.checkbox-privacy-policy {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox-agree-mini-container {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}
.checkbox-input[type="checkbox"]:checked
  + .checkbox-privacy-policy
  > .checkbox-agree-mini-container {
  background-color: #404bbf;
  border: none;
}
.checkbox-input[type="checkbox"]:checked
  + .checkbox-privacy-policy
  > .checkbox-agree-mini-container {
  fill: #f4f4fd;
}

.privacy-policy-link {
  color: #4d5ae5;
}
.button-send {
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover,
.button-send:focus {
  background-color: #404bbf;
  outline: transparent;
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
  border: none;
}

.modal-textarea-comment {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============ tablet ========= */
@media screen and (min-width: 768px) {
  .modal-window-order {
    width: 408px;
    max-height: 584px;
    min-height: 584px;
    padding: 72px 25px 24px 23px;
  }
  .modal-textarea-comment {
    width: 360px;
    height: 120px;
    margin-top: 4px;
    padding: 8px 16px;
  }
}
/* ============ tablet ========= */
/* ============desktop ========= */
@media screen and (min-width: 1158px) {
  .modal-window-order {
    width: 408px;
    max-height: 584px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .modal-window-conteiner-comment-lable {
    margin-bottom: 0px;
  }
  .modal-textarea-comment {
    width: 360px;
  }

  .checkbox-conteiner {
    margin-bottom: 16px;
  }

  .modal-textarea-comment {
    padding-left: 16px;
    padding-top: 8px;
  }
}
