.modal-backdrop.is-open-mobile {
  transform: translateX(0%);
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  transform: translateX(100%);
}

.close-btn-modal-menu-mobile {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-modal-menu-mobile:hover,
.close-btn-modal-menu-mobile:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn-modal-menu-mobile:hover > .close-btn-modal-menu-mobile-icon,
.close-btn-modal-menu-mobile:focus > .close-btn-modal-menu-mobile-icon {
  fill: #ffffff;
}
.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-nav {
  margin-top: 72px;
  margin-bottom: 168px;
  width: 151px;
  height: 200px;
  margin-left: 15px;
  margin-right: 153px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-page-link-mobile {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}

.modal-address-contacts {
  margin-left: 16px;
  margin-right: 111px;
  margin-bottom: 48px;
}
.modal-address-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.modal-address-list-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.modal-address-list-link:hover,
.modal-address-list-link:focus {
  color: #4d5ae5;
}
/* ICON-SOCIAL */

.modal-container-social-list {
  display: flex;
  gap: 40px;
  margin-left: 16px;
}

.modal-social-link-item {
  width: 40px;
  height: 40px;
  border: 1px solid var(--iris);
  background-color: var(--iris);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-social-icon {
  fill: #f4f4fd;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* if you need change color at the hover, focus you can use function below  */

.link-ocean {
  color: #404bbf;
}

.link-iris {
  color: #4d5ae5;
}
/* .modal-social-link-item:hover,
.modal-social-link-item:focus {
  background-color: #31d0aa;
} */
