.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.porfolio-section-container {
  display: flex;
  flex-direction: column;
  /* margin-left: 16px;
  margin-right: 16px; */
  margin-left: auto;
  margin-right: auto;
}
.portfolio-section-title {
  color: var(--slate);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}
.portfolio-section-list {
  display: flex;
  width: 288px;
  margin-left: 16px;
  margin-bottom: 16px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.portfolio-section-list-item {
  display: flex;
  width: 288px;
  height: 400px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  /* flex-shrink: 0; */
  gap: 32px;
  background: var(--white, #fff);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--CLOUD, #f4f4fd);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-section-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.porfolio-section-list-payment-container {
  width: 288px;
  height: 280px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.porfolio-section-list-payment-image {
  width: 288;
  height: 280;
}
.porfolio-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
}
.portfolio-section-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-section-list-services {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 320px) and (max-width: 1157px) {
  .porfolio-section-list-payment-text-popup {
    display: none;
  }
}

/* =========== tablet ============= */
@media screen and (min-width: 768px) {
  .porfolio-section-container {
    width: 768px;
  }

  .portfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: 768px;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px;
  }
  .portfolio-section-list-item {
    display: flex;
    width: 356px;
    height: 420px;
  }
}
/* ===========desktop ============= */

/* .portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.porfolio-card {
  background-color: var(--white);
  width: 360px;
}
.porfolio-card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.porfolio-section-container {
  display: flex;
  flex-direction: column;
}

.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-section-title {
  color: var(--slate);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-section-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-section-list-item {
  display: flex;
  height: 420px;
  width: 360px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.porfolio-section-container {
  display: flex;
  flex-direction: column;
}

.porfolio-section-list-payment-container {
  width: 360px;
  height: 300px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.porfolio-section-list-payment-text-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-section-list-payment-container:hover
  .porfolio-section-list-payment-text-popup,
.porfolio-section-list-payment-container:focus
  .porfolio-section-list-payment-text-popup {
  transform: translateY(0%);
}
.portfolio-section-list-services {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.02em;
} */
