.skill-section {
  padding: 120px 0;
}
.skill-section-container {
  margin-left: auto;
  margin-right: auto;
}
.skill-section-list {
  display: flex;
  gap: 24px;
}
.skill-section-item-image-container {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.skill-section-item {
  width: calc((100% - 72px) / 4);
}
.skill-section-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.skill-section-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
